* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', Arial, sans-serif;
    text-align: center;
    min-height: 100vh;
   
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/a8/Tnsm-flag.svg/1200px-Tnsm-flag.svg.png');
    background-position:  center;
    background-repeat: none;
    padding: 15px;
    color: #111;
    perspective: 1000px;
    text-shadow: 0.05em 0.05em 0.05em rgba(0, 0, 0, 0.1);
}

.cube {
    position: relative;
    width: 140px;
    height: 140px;
    transform-style: preserve-3d;
    transform: rotateX(-20deg) rotateY(-40deg);
    animation: rotateCube 5s linear infinite;
    
}



.cube-face {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid rgba(0, 0, 0, 0.4);
    background-color: var(--cube-color);
    transition: background-color 500ms;
}

.cube-front {
    transform: translateZ(70px);
}

.cube-back {
    transform: rotateY(180deg) translateZ(70px);
}

.cube-bottom {
    transform: rotateX(-90deg) translateZ(70px);
}

.cube-top {
    transform: rotateX(90deg) translateZ(70px);
}

.cube-left {
    transform: rotateY(-90deg) translateZ(70px);
}

.cube-right {
    transform: rotateY(90deg) translateZ(70px);
}

@keyframes rotateCube {
    to {
        transform: rotateX(-20deg) rotateY(-400deg);
    }
}


.clock {
    font-size: 2em;
    margin-top: 2.5rem;
  }

  #date{
    font-size: 1em;
    margin-top: 2.5rem;
    color: red;
  }

   /* --cube-color: #; */

   
   